
#qldscn {
    background-image: url('../../images/SanBong/background/bg11.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flex-item{
    margin:50px;
    border: solid 2px yellow;
    background-color:gainsboro;
    border-radius:10px;
}

