

.header i {
    margin-top: 5px;
    font-size: 25px;
    color: white;
    text-align: center;
}

#menu li {
    color: white;
}

.navbar-nav li{
    font-size:15px;
    margin-right:20px;
}

.footer li{
    margin-right: 20px;
}

.header .bg-company-red, .footer .bg-company-red {
    background-color: #0000 !important;
}

.header .navbar-dark .navbar-nav .nav-link, .footer .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

